name: Run Pytest

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  pytest:
    name: Run pytest via uv
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest --ignore=tests/test_text_dataset.py
